.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #604b4b, #bcaeae);
    padding: 10px 20px;

  }
.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 15px;
    font-size: 40px;
    transition: color 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

.contenedor1
{
display: flex;
}

.contenedores2{
    display: flex;
    padding: 20px;
    border-bottom: 2px solid black;
}
.btn-alquilar {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.tablas{
    height: 20px;
    width: 20px;
    border-collapse: collapse;
    border-spacing: 0cap;
}
