.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #726565;
    padding: 10px 20px;
  }
.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 15px;
    font-size: 40px;
    transition: color 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

.contenedor1
{
display: flex;
}

.contenedores2{
    display: flex;
    padding: 20px;
    border-bottom: black;
}