* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
}


.navbar {
    background-color: #e4392d; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    height: 60px;
    color: white;
  }
  
  .logo {
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }



.tablacli {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #e4392d;
    color: #fff;
    font-size: 18px;
}

td {
    background-color: #f9f9f9;
}

.foto-vehiculo {
    width: 100px;
    height: auto;
    border-radius: 5px;
}