.body1 {
    padding: 0;
    background-color: rgb(6, 56, 85);
    margin-left: 0;
    margin-right: 0;

}

.cont {
    display: flex;
    flex-direction: row;
    background-color: rgb(49, 147, 228);
    color: rgb(183, 233, 241);
    padding-left: 5%;
    padding-right: 5%;
}

.tit1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    font-style: italic;
}

.cont1 {
    background-color: rgb(49, 147, 228);
    display: block;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.registro {
    border: solid 1px white;
    height: 100%;
}

.reg1 {
    background-color: #608BC1;
    color: white;
    width: 30%;
    text-align: center;
}

.login-form {
    display: flex;
    gap: 12px;
    flex-direction: column;
    color: white;
}

.login-form label {
    text-align: left;
    font-weight: bold;
    margin-left: 3%;
}

.login-form input {
    padding: 10px;
    margin-left: 3%;
    margin-right: 3%;
}

.login-form button {
    padding: 10px;
    background-color: #95b5ca;
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 120px;
	height: 60px;
    margin-top: 3%;
    margin-left: 3%;
}

.login-form button:hover {
    background-color: #60b1e4;
}

